<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title> Pelican post </title>
    <meta name="description" content="Pelican post">
    <meta name="author" content="Eswar Malla">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <script src="{{ url_for('static', filename='js/epiceditor.js') }}"></script>
</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <aside>
    <table id="markdown-help" class="u-full-width">
    <thead>
      <tr>
        <th>Type</th>
        <th>Syntax</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> Heading </td>
        <td>
            # H1 <br />
            ## H2 <br />
            ### H3 <br />
            #### H4 <br />
            ##### H5 <br />
            ###### H6 <br />
        </td>
      </tr>
      <tr>
        <td>Italics</td>
        <td>
             *asterisks* or _underscores_ <br/>
        </td>
      </tr>

      <tr>
        <td>Bold</td>
        <td>
             **asterisks** or __underscores__ <br/>
        </td>
      </tr>

      <tr>
        <td>Italics</td>
        <td>
             *asterisks* or _underscores_. <br/>
        </td>
      </tr>

      <tr>
        <td>Italics</td>
        <td>
             *asterisks* or _underscores_. <br/>
        </td>
      </tr>

    </tbody>
  </table>
  </aside>

    <div class="container">
        <header>
            <h4 id="pageTitle"> Thingari </h4>
            <div class="row" id="headerRow">
                <div class="three columns headerLink">
                    <a class="headerLinks" href="/admin"> Post </a>
                </div>
                <div class="three columns headerLink">
                    <a class="headerLinks" href="/admin/images"> Images </a>
                </div>
                <div class="three columns headerLink">
                    <a class="headerLinks" href="/admin/browse"> Browse </a>
                </div>
																<div class="three columns headerLink">
                    <a class="headerLinks" href="/admin/settings"> Settings </a>
                </div>
            </div>
        </header>

        <div id="messages">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes>
            {% for message in messages %}
              <div>{{ message }}</div>
            {% endfor %}
        </div>
          {% endif %}
        {% endwith %}
        </div>

        <form method="post" action="{{ url_for('make_post') }}" id="formPost">
            <div class="row">
                <div class="four columns">
                    <label for="fileName">File name</label>
                    <input class="u-full-width" name="fileName" id="fileName" type="text" required>
                </div>
                <div class="four columns">
                    <label for="title">Title</label>
                    <input class="u-full-width" name="title" id="title" type="text" required>
                </div>
                <div class="four columns">
                    <label for="input-date">Date</label>
                    <input class="u-full-width" name="input-date" id="input-date" type="text" required>
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <label for="input-category">Category</label>
                    <input class="u-full-width" name="input-category" id="input-category" type="text">
                </div>
                <div class="four columns">
                    <label for="input-tags">Tags</label>
                    <input class="u-full-width" name="input-tags" id="input-tags" type="text">
                </div>
                <!--
                <div class="four columns">
                    <label for="title-input">Nothing</label>
                    <input class="u-full-width" name="title" type="text">
                </div>
                -->
            </div>
            <!-- <label for="exampleMessage"> Content </label> -->
            <div class="u-full-width" id="epiceditor"></div>
            <textarea name="post" id="epictext" style="display:none" required>
            </textarea>
            <input type="hidden" name="extension" value="md" />
            <br />
            <input type="hidden" name="username" value="user" />
            <br />
            <input type="hidden" name="password" value="password" />
            <br />
            <input class="button-primary" id="post-button" value="Post" type="submit" onclick="makePost()">
        </form>

    </div>

    <script>
        var opts = {
            autogrow: {
                minHeight: 300
            },
            textarea: 'epictext',
            basePath: '',
            theme: {
                base: "{{ url_for('static', filename='epiceditor/themes/base/epiceditor.css') }}",
                preview: "{{ url_for('static', filename='epiceditor/themes/preview/preview-dark.css') }}",
                editor: "{{ url_for('static', filename='epiceditor/themes/editor/epic-dark.css') }}"
            },
        };
        var editor = new EpicEditor(opts).load();
    </script>

    <footer>
        <a href="https://github.com/eswarm/pelican-post"> Pelican Post </a> by <a href="http://eswarm.in/"> Eswar Malla </a>
    </footer>

    <script>

    function init() {
        var element = document.getElementById('input-date');
        var date = new Date();
        element.value = date.toISOString().substring(0, 10) +  " " + date.getHours() + ":" + date.getMinutes();
    }

    window.onload = init();

    function makePost() {
        var formElement = document.getElementById('formPost');
        var fileName = document.getElementById('fileName');
        var title = document.getElementById('title');
        var date = document.getElementById('input-date');
        var category = document.getElementById('input-category');
        var tags = document.getElementById('input-tags');

        var titleText = "Title : " + title.value + "\n";
        var dateText = "Date : " + date.value + "\n";
        var categoryText = ""
        var tagsText = "";

        if(category.value.length != 0 )
            categoryText = "Category : " + category.value + "\n";
        if(tags.value.length != 0 )
            tagsText = "Tags : " + tags.value + "\n";

        var textElement = document.getElementById('epictext');
        // prepend the text
        textElement.value = titleText + dateText + categoryText + tagsText + textElement.value;
        formElement.submit();
    }

    </script>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
